.App {
  text-align: center; 
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.entry-tab {
  justify-content: center;
  display: flex;
  height: 40px;
  padding: 2%;
}

.record-tab  {
  display: flex;
  justify-content: center ;
  max-height: 400px;
  overflow-y: scroll;
  background-color: black;
   
  
 
}

.record-tab table {
  justify-content: center;
 
}



table tr th {
  color: white;
}

.record-tab table tr td {
  color: white;
}

.general-tab {
  display: flex;
  justify-content: space-around;
  padding-top:2% ;
  padding-bottom:2%;
  
}

.general-tab div {
  border-radius: 5%;
  width: 200px;
  
}

.general-tab div:hover {
  background-color: rgba(255, 255, 255, 0.336);
  cursor: pointer;
}

.extra-info {
  display: flex;
  justify-content: space-evenly;
}

.extra-info div {
  width: 25%;
}

header {
color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
